.l-body{
    display: grid;
    grid-template-areas:
    "header header header"
    ". main ."
    "footer footer footer";
    grid-template-columns: [margin-left] 1.3rem [contente] 1fr [margin-right] 1.3rem;
    grid-template-rows: [line-header] auto [line-main] 1fr [line-footer] auto;
    grid-row-gap: 3.2rem;
}

/*Header*/

.l-header{
    height: 10rem;
    grid-area: header;
    grid-row: header;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}

/* Main */

.l-main{
    grid-area: main;
    grid-row: line-main;

    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 3.2rem;
    grid-auto-rows: 0.8fr;
}

/* Footer */

.l-footer{
    grid-area: footer;
    grid-row: line-footer;
}

/* Responsividade */

@media screen and (min-width: 580px) {
    .l-main{
       grid-template-columns: 1fr 1fr;
       grid-column-gap: 2.4rem;
    }
}

@media screen and (min-width: 900px) {
    .l-main{
       grid-template-columns: 1fr 1fr 1fr;
       grid-column-gap: 3.2rem;
    }
}