/* Logo */

.c-logo{
    text-align: center;
    font-size: clamp(4.0rem, 4.5rem, 4.8rem);
    font-family: 'Righteous', 'cursive';
}

.c-logo__special{
    color: #2ECDC4;
}

/* Articles */

.c-article-site{
    background-color: #fff;
}

.c-article-site, .c-article-site__img{
    border-radius: 0.4rem ;
}

.c-article-site__img{
    width: 100%;
    margin-bottom: 2.4rem;
}

.c-article-site__dedcription-content{
    margin: 0rem 1.6rem 3.2rem;
}

.c-article-site__title{
    font-size: 1.8rem;
    font-weight: 500;
}

.c-article-site__link{
    display: inline-block;
    height: 100%;
}

.c-article-site__technologies-used{
    margin-top: 1.6rem;
}

.c-article-site__technologies-used p{
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 1.6rem;
}

.c-article-site__technologies-list{
    display: flex;
    flex-wrap: wrap;
}

.c-article-site__technology{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 8rem;
    height: 3.6rem;
    margin: 0rem 0.4rem 0.8rem 0rem;
    
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;

    border: 3px solid black;
    border-radius: 5rem;
}