.technology--html{
    color: #EC6432;
    border-color: #EC6432;
}

.technology--css{
    color: #0085C6;
    border-color: #0085C6;
}

.technology--js{
    color: #F5CE35;
    border-color: #F5CE35;
}






