.c-footer__country{
    border-bottom: 1px solid #dadce0;
    font-size: 1.6rem;
    padding: 1.5rem 3rem;
}

.c-footer__configs-about{
    font-size: clamp(1.3rem, 1.4rem, 1.5rem);
    margin-top: 4.6rem;
    padding-top: 1rem;
    border-top: 1px solid #dadce0;
}

.c-footer__configs-about div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.c-footer__item a{
    display: inline-block;
    padding: 1.5rem;
}

/* Responsividade*/
@media screen and (min-width: 550px){
    .c-footer__configs-about div{
        justify-content: center;
    }

    .c-footer__configs-about{
        margin-top: 0rem;
        border-top: none;
    }
}

@media screen and (min-width: 1024px){
    .c-footer__configs-about{
       display: flex;
       flex-wrap: nowrap;
       padding: 0rem 1.5rem;
    }

    .c-footer__configs-about :first-child{
        justify-content:flex-start;
    }

    .c-footer__configs-about :last-child{
        justify-content:flex-end;
    }
}