.c-footer__country{
    height: 3.6rem;
    border-bottom: 1px solid #dadce0;
    font-size: 1.6rem;
    padding-left: 1.6rem;
}

.c-footer__configs-about{
    font-size: 1.3rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: 4.6rem;
    padding-top: 1rem;
    border-top: 1px solid #dadce0;
}

.c-footer__configs-about div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  justify-content:center;
}

.c-footer__item{
    line-height: 3.5rem;
    padding-left: 2rem;
}