.c-link{
    display: flex;
    align-items: center;

    height: 100%;

    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    color: #73787d;
    
    padding: 0rem 0.8rem;
    margin-right: 0.8rem;
}

.link---avatar{
    padding: 0.4rem 0rem 0.4rem 0.4rem;
    margin: 0rem;
    width: 4rem;
    height: 4rem;
}

.link---avatar img{
    width: 3.2rem;
    height: 3.2rem;
}

.link--applications{
    padding: 0.8rem;
    margin: 0rem;
    width: 4rem;
    height: 4rem; 
}

.link--applications, .link---avatar{
    display: flex;
    justify-content: center;
}

.link--applications img{
    width: 1.6rem;
    height: 1.6rem;
}

/* Responsividade */

@media screen and (min-width: 550px){
    .c-link{
        color: #000;
        font-weight: 400;
    }

   .c-link--gmail-img{
        padding: 0rem 0rem 0rem 1.5rem;
        margin: 0rem;
   }

   .link---avatar{
        margin: 0.8rem;
   }

   .link--applications{
    padding: 1.2rem;
   }

}


