.l-header{
    width: 100%;
    height: 4.8rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0rem 1.6rem;
}

.l-header__content{
    height: 100%;
    display: flex;
    align-items: center;
}

.l-main{
    min-width: 32rem;
    max-width: 58.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-top: 2rem;
}

.l-trending-topics{
    width: 100%;
    margin: 2.4rem 0rem 2.4rem 0rem;
    padding: 0rem 1.6rem;
}

.l-footer{
    width: 100%;
    height: 100px;
    background-color: #f2f2f2;
    position: relative;
    bottom: 0;
}
